* {
    box-sizing: border-box;
}

html{
    height:100%;
    width: 100%;
}

body{
    /*font-family: 'Encode Sans Expanded', sans-serif;*/
    font-family: "Helvetica";
    line-height: 1.6em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    
    height:100%;
    width: 100%;
    margin:0px;
}
#mobileNav{
    height: 0;
    overflow: hidden;
}
#mobileWrapper{
    padding: 2em 0 2em 0;

}
#mobileNav li{
    text-align: center;
}
#mobileNav li a{
    font-size: 20px;
    line-height: 2.4em;
}

#canvasWrapper{
    height: 100%;
    max-width: 1100px;
}


#headerWrapper{
    position: fixed;
    top: 35px;
    left: 35px;
    width: 150px;
    
}

#menuIcon{
    display: none;
}

#galleryWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
}

.click-area{
    position: absolute;
    height: 100%;
    cursor: ew-resize;
}

#clickRight{
    right: 0px;
}


#slideShowWrapper{

    height: 100%;
    margin: 40px;
    margin-left: 185px;
    position: relative;

}

#slideShow{
    position: relative;
    width: 100%;
    height: 100%;

}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
}

.slide img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle
}
#simpleNav{
    position: absolute;
    height: auto;
    cursor: pointer;
    bottom: 50px;
    left: 38px;
}
h1{
    padding:0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

#logo{
    margin-bottom: 30px;
    font-size: 22px;
    font-family: 'Tinos', serif;
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: #8e959f;
}

#firstNav li {
    line-height: 1.4em;
    font-size: 12.5px;
    font-family: "Times New Roman","Times","serif";
}

#secondNav{
    margin-top: 20px;
    font-size: 14px;
}

@media only screen and (max-width: 800px){
    html{
        height: auto;
    }

    #headerWrapper{
        position: relative;
        top: 0;
        left: 0;
        padding: 8px 20px 28px 20px;
        height: auto;
        width: auto;
    }
    #headerWrapper h1{
        font-family: 'Wire One', sans-serif;
    
    }
    

    #logo{
        font-size: 25x;
        
        margin: 0;
    }

    h1{
        line-height: 1.5;
    }

    #desktopNav{
        display: none;

    }
    
    #firstNavMobile a{
        
    }

    #menuIcon{
        display: block;
        position: absolute;
        top: 24px;
        right: 30px;
        cursor: pointer;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        
    }

    
    .menu-close{
        height:0;
        transition-duration: 500ms;
    }

    #main-content{
        width: 100%;
        padding: 0 20px 0 20px;
        
    }

    #galleryWrapper{
        position: relative;
    }

    #slideShowWrapper{
        height: auto !important;
        margin: 0;
    }

    .slide{
        position: static;
        opacity: 1 !important;
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    #simpleNav{
        display: none;
    }
    #clickRight{
        display: none;
    }
    #clickLeft{
        display: none;
    }

}